{{#each this}}
  <li class='header-list-buttons-item'>
    <button
      type='button'
      class='button'
      data-action='{{dataAction}}'
    >{{buttonText}}
      <span class='button-clean'>&#127377;</span>
    </button>
  </li>
{{/each}}