$primaryFont: Roboto, sans-serif;
$primaryDarkColor: #000000;
$accentColor: #ff6b01;
$primaryLightColor: #ffffff;
$characteristicsColor: #8c8c8c;
$footerColor: #545454;

//цвета текста
$text-black-color: #000000;
$text-white-color: #ffffff;
$text-footer-color: #545454;
$text-red-color: #ff001b;
$text-dark-theme-color: rgba(255, 255, 255, 0.8);

//фон
$bg-first-color: #ffffff;
$bg-second-color: #f7f7f7;
$bg-header-color: rgba(0, 0, 0, 0.56);
$bg-dark-theme-color: #121212;
$bg-dark-modal-color: #333333;

//Цвет иконки
$icon-color: #818181;

//кнопки (цвет акцентов)
$modal-subtitle-color: #8c8c8c;
$accent-lighter-color: #ff6b01;
$accent-darker-color: #ff6b08;
$btn-hover-color: rgba(255, 107, 1, 0.6);

//доп.цвета
$white-color: #ffffff;
$black-color: #000000;

//тени
$shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 5px 10px 2px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.2);

$shadow-hover: 0px 1px 3px rgba(255, 107, 1, 0.12),
  0px 1px 1px rgba(255, 107, 1, 0.14), 0px 5px 10px 2px rgba(255, 107, 1, 0.2),
  0px 2px 1px rgba(255, 107, 1, 0.2);

//шрифт
$main-font-size: 12px;
$main-font: 'Roboto', sans-serif;
