<div class="container_card container">

  <ul class="card__colection"></ul>
</div>

    <ul class="gallery-container_grid">
        <!-- сюда файл card.hbs через js-->
        <li class="card">
            <div class="card__img">
                <img class="onModalBtn" src="./img/Rectangle5.jpg" alt="film name" width="100%" />
            </div>
            <h2 class="card__title">GREYHOUND</h2>
            <p class="card__text">
                <span>drama</span> | <span>2020</span
        ><span class="card__rating">10.0</span>
            </p>
        </li>
        <li class="card">
            <div class="card__img">
                <img src="./img/Rectangle5.jpg" alt="film name" width="100%" />
            </div>
            <h2 class="card__title">GREYHOUND</h2>
            <p class="card__text">
                <span>drama</span> | <span>2020</span
        ><span class="card__rating">10.0</span>
            </p>
        </li>
        <li class="card">
            <div class="card__img">
                <img src="./img/Rectangle5.jpg" alt="film name" width="100%" />
            </div>
            <h2 class="card__title">GREYHOUND</h2>
            <p class="card__text">
                <span>drama</span> | <span>2020</span
        ><span class="card__rating">10.0</span>
            </p>
        </li>
        <!-- Єто пример потом удалю лишку -->
    </ul>
</div>

