<div class="accordion container footer__container" id="accordionExample">
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <ul class="gallery-container_grid">
            <li class="card">
                <div class="card__img">
                    <img class="photo" src="./img/team/Rostislav_Kulik.jpg" alt="Rostislav Kulik">
                </div>
                <div class="card__padding">
                    <h2 class="card__title">
                        Rostislav Kulik
                    </h2>
                    <p class="card__text">
                        programmer
                    </p>
                </div>
            </li>
            <li class="card">
                <div class="card__img">
                    <img class="photo" src="./img/team/Alina_Kostakova.jpg" alt="Rostislav Kulik">
                </div>
                <div class="card__padding">
                    <h2 class="card__title">
                        Rostislav Kulik
                    </h2>
                    <p class="card__text">
                        programmer
                    </p>
                </div>
            </li>
            <li class="card">
                <div class="card__img">
                    <img class="photo" src="./img/team/Rostislav_Kulik.jpg" alt="Rostislav Kulik">
                </div>
                <div class="card__padding">
                    <h2 class="card__title">
                        Rostislav Kulik
                    </h2>
                    <p class="card__text">
                        programmer
                    </p>
                </div>
            </li>
            <li class="card">
                <div class="card__img">
                    <img class="photo" src="./img/team/Rostislav_Kulik.jpg" alt="Rostislav Kulik">
                </div>
                <div class="card__padding">
                    <h2 class="card__title">
                        Rostislav Kulik
                    </h2>
                    <p class="card__text">
                        programmer
                    </p>
                </div>
            </li>
            <li class="card">
                <div class="card__img">
                    <img class="photo" src="./img/team/Rostislav_Kulik.jpg" alt="Rostislav Kulik">
                </div>
                <div class="card__padding">
                    <h2 class="card__title">
                        Rostislav Kulik
                    </h2>
                    <p class="card__text">
                        programmer
                    </p>
                </div>
            </li>
            <li class="card">
                <div class="card__img">
                    <img class="photo" src="./img/team/Rostislav_Kulik.jpg" alt="Rostislav Kulik">
                </div>
                <div class="card__padding">
                    <h2 class="card__title">
                        Rostislav Kulik
                    </h2>
                    <p class="card__text">
                        programmer
                    </p>
                </div>
            </li>
            <li class="card">
                <div class="card__img">
                    <img class="photo" src="./img/team/Rostislav_Kulik.jpg" alt="Rostislav Kulik">
                </div>
                <div class="card__padding">
                    <h2 class="card__title">
                        Rostislav Kulik
                    </h2>
                    <p class="card__text">
                        programmer
                    </p>
                </div>
            </li>
            <li class="card">
                <div class="card__img">
                    <img class="photo" src="./img/team/Rostislav_Kulik.jpg" alt="Rostislav Kulik">
                </div>
                <div class="card__padding">
                    <h2 class="card__title">
                        Rostislav Kulik
                    </h2>
                    <p class="card__text">
                        programmer
                    </p>
                </div>
            </li>
            <li class="card">
                <div class="card__img">
                    <img class="photo" src="./img/team/Rostislav_Kulik.jpg" alt="Rostislav Kulik">
                </div>
                <div class="card__padding">
                    <h2 class="card__title">
                        Rostislav Kulik
                    </h2>
                    <p class="card__text">
                        programmer
                    </p>
                </div>
            </li>
            <li class="card">
                <div class="card__img">
                    <img class="photo" src="./img/team/Rostislav_Kulik.jpg" alt="Rostislav Kulik">
                </div>
                <div class="card__padding">
                    <h2 class="card__title">
                        Rostislav Kulik
                    </h2>
                    <p class="card__text">
                        programmer
                    </p>
                </div>
            </li>
            <li class="card">
                <div class="card__img">
                    <img class="photo" src="./img/team/Rostislav_Kulik.jpg" alt="Rostislav Kulik">
                </div>
                <div class="card__padding">
                    <h2 class="card__title">
                        Rostislav Kulik
                    </h2>
                    <p class="card__text">
                        programmer
                    </p>
                </div>
            </li>
            <li class="card">
                <div class="card__img">
                    <img class="photo" src="./img/team/Rostislav_Kulik.jpg" alt="Rostislav Kulik">
                </div>
                <div class="card__padding">
                    <h2 class="card__title">
                        Rostislav Kulik
                    </h2>
                    <p class="card__text">
                        programmer
                    </p>
                </div>
            </li>
            <li class="card">
                <div class="card__img">
                    <img class="photo" src="./img/team/Rostislav_Kulik.jpg" alt="Rostislav Kulik">
                </div>
                <div class="card__padding">
                    <h2 class="card__title">
                        Rostislav Kulik
                    </h2>
                    <p class="card__text">
                        programmer
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>