<backdrop data-modal class="backdrop__students is-hidden">
    <div class="modal__students">
        <ul class="students__container">
            <li class="students__card">
                <div class="students__card--thumb">
                    <div class="student__photo--container">
                        <img class="student__photo student__photo--fit" src="./images/team/Olga_Dudnik.jpg"
                            alt="Olga Dudnik">
                    </div>
                    <div class="student__information">
                        <h2 class="student__title">
                            Olga Dudnik
                        </h2>
                        <p class="student__text">
                            Team Lead
                        </p>
                    </div>
                    <div class="students__card--back-side">
                        <h3 class="students__card-title">Team Lead</h3>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold"> FT-04</span> - Верстка футера;
                        </p>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold"> FT-08</span> - Пагінація на головній сторінці;
                        </p>
                    </div>
                </div>
            </li>
            <li class="students__card">
                <div class="students__card--thumb">
                    <div class="student__photo--container">
                        <img class="student__photo student__photo--fit" src="./images/team/Kirill_Rumezhak.jpg"
                            alt="Kirill Rumezhak">
                    </div>
                    <div class="student__information">
                        <h2 class="student__title">
                            Kirill Rumezhak
                        </h2>
                        <p class="student__text">
                            Scrum Master
                        </p>
                    </div>
                    <div class="students__card--back-side">
                        <h3 class="students__card-title">Scrum Master</h3>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-10</span> - Пошук та відображення фільмів за
                            ключовим словом;
                        </p>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-11</span> - Верстка контейнеру сторінки "My
                            Library";
                        </p>
                    </div>
                </div>
            </li>
            <li class="students__card">
                <div class="students__card--thumb">
                    <div class="student__photo--container">
                        <img class="student__photo" src="./images/team/Alina_Churilova.jpg" alt="Alina Churilova">
                    </div>
                    <div class="student__information">
                        <h2 class="student__title">
                            Alina Churilova
                        </h2>
                        <p class="student__text">
                            Developer
                        </p>
                    </div>
                    <div class="students__card--back-side">
                        <h3 class="students__card-title">Developer</h3>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-06</span> - Верстка контейнеру головної сторінки;
                        </p>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-18 / FT-19</span> - Реалізація логіки кнопки "Add
                            to
                            watched" та "Add to
                            queue";
                        </p>
                    </div>
                </div>
            </li>
            <li class="students__card">
                <div class="students__card--thumb">
                    <div class="student__photo--container">
                        <img class="student__photo student__photo--fit-minus" src="./images/team/Eugene_Multan.jpg"
                            alt="Eugene Multan">
                    </div>
                    <div class="student__information">
                        <h2 class="student__title">
                            Eugene Multan
                        </h2>
                        <p class="student__text">
                            Developer
                        </p>
                    </div>
                    <div class="students__card--back-side">
                        <h3 class="students__card-title">Developer</h3>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-02</span> - Після натискання на логотип
                            відображається головна сторінка;
                        </p>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-13</span> - За натисканням на логотип/кнопку
                            "Home" відображається головна сторінка;
                        </p>
                    </div>
                </div>
            </li>
            <li class="students__card">
                <div class="students__card--thumb">
                    <div class="student__photo--container">
                        <img class="student__photo" src="./images/team/Dmitry_Davidyuk.jpg" alt="Dmitry Davidyuk">
                    </div>
                    <div class="student__information">
                        <h2 class="student__title">
                            Dmitry Davidyuk
                        </h2>
                        <p class="student__text">
                            Developer
                        </p>
                    </div>
                    <div class="students__card--back-side">
                        <h3 class="students__card-title">Developer</h3>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-05</span> - Верстка шаблону картки одного фільму;
                        </p>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-07 / FT-09</span> - Реалізація підвантаження
                            популярних фільмів на головну сторінку та при переході на кожну сторінку;
                        </p>
                    </div>
                </div>
            </li>
            <li class="students__card">
                <div class="students__card--thumb">
                    <div class="student__photo--container">
                        <img class="student__photo student__photo--fit" src="./images/team/Dmitrij_Parfenyk.jpg"
                            alt="Dmitrij Parfenyk">
                    </div>
                    <div class="student__information">
                        <h2 class="student__title">
                            Dmitrij Parfenyk
                        </h2>
                        <p class="student__text">
                            Developer
                        </p>
                    </div>
                    <div class="students__card--back-side">
                        <h3 class="students__card-title">Developer</h3>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-01</span> - Верстка хедеру головної сторінки;
                        </p>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-25</span> - Реалізація кнопки Button_UP;
                        </p>
                        <!-- <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-14</span> - За натисканням на кнопку "Watched"
                            показуються переглянуті фільми користувача;
                        </p>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-15</span> - За натисканням на кнопку "Queue"
                            показуються фільми додані в чергу користувача;
                        </p> -->
                    </div>
                </div>
            </li>
            <li class="students__card">
                <div class="students__card--thumb">
                    <div class="student__photo--container">
                        <img class="student__photo" src="./images/team/Rostislav_Kulik.jpg" alt="Rostislav Kulik">
                    </div>
                    <div class="student__information">
                        <h2 class="student__title">
                            Rostislav Kulik
                        </h2>
                        <p class="student__text">
                            Developer
                        </p>
                    </div>
                    <div class="students__card--back-side">
                        <h3 class="students__card-title">Developer</h3>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-23</span> - Верстка модалкb з інформацією про
                            учасників команди;
                        </p>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-26</span> - Реалізація логіки меню фільтрації та
                            сортування;
                        </p>
                    </div>
                </div>
            </li>
            <li class="students__card">
                <div class="students__card--thumb">
                    <div class="student__photo--container">
                        <img class="student__photo" src="./images/team/Serhii_Deikun.jpg" alt="Serhii Deikun">
                    </div>
                    <div class="student__information">
                        <h2 class="student__title">
                            Serhii Deikun
                        </h2>
                        <p class="student__text">
                            Developer
                        </p>
                    </div>
                    <div class="students__card--back-side">
                        <h3 class="students__card-title">Developer</h3>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-21</span> - Реалізація підключення та
                            налаштування Loader;
                        </p>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-24</span> -Написання стилів для меню фільтрації
                            та сортування;
                        </p>
                    </div>
                </div>
            </li>
            <li class="students__card">
                <div class="students__card--thumb">
                    <div class="student__photo--container">
                        <img class="student__photo student__photo--fit" src="./images/team/Tetiana_Sosiedka.jpg"
                            alt="Tetiana Sosiedka">
                    </div>
                    <div class="student__information">
                        <h2 class="student__title">
                            Tetiana Sosiedka
                        </h2>
                        <p class="student__text">
                            Developer
                        </p>
                    </div>
                    <div class="students__card--back-side">
                        <h3 class="students__card-title">Developer</h3>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-03</span> - Верстка хедеру сторінки "My Library";
                        </p>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-12 / FT-14 / FT-15</span> - Реалізація роботи "My
                            Library" (логіки, відображення, видалення);
                        </p>
                    </div>
                </div>
            </li>
            <li class="students__card">
                <div class="students__card--thumb">
                    <div class="student__photo--container">
                        <img class="student__photo" src="./images/team/Andrey_Shevelov.jpg" alt="Andrey Shevelov">
                    </div>
                    <div class="student__information">
                        <h2 class="student__title">
                            Andrey Shevelov
                        </h2>
                        <p class="student__text">
                            Developer
                        </p>
                    </div>
                    <div class="students__card--back-side">
                        <h3 class="students__card-title">Developer</h3>
                        <p class="students__card-text--back-side">
                            <span class="students__card-text--bold">FT-16 / FT-17 / FT-20</span> - Реалізація модалки
                            одного фільму (верстка, стилі, логіка);
                        </p>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</backdrop>