<header class="header">
    <div class="container">
        <button class="logo">
            <svg class="logo__icon" width="24" height="24">
                <use href="/src/images/filmoteca.svg#icon-filmoteca" > </use>
            </svg>
            <span class="logo__text">Filmoteca</span>
        </button>
    </div>
    <navigation>
        <ul>
            <li><button>HOME</button></li>
            <li><button>MY LIBRARY</button></li>
        </ul>
    </navigation>
    <form action="">
        <input type="text">
    </form>
</header>