<div class="header-container container">
  <navigation class="nav">
    <button class="logo">
      <svg class="logo-icon" width="24" height="24">
        <use href="/src/images/header-main/filmoteca.svg#icon-filmoteca"></use>
      </svg>
      <span class="logo-text">Filmoteka</span>
    </button>

    <ul class="nav-list">
      <li class="nav-list-item">
        <button id="home" class="nav-btn nav-btn--underline">home</button>
      </li>
      <li class="nav-list-item">
        <button id="library" class="nav-btn">my library</button>
      </li>
    </ul>
  </navigation>
  <form action="" class="header-form">
    <input type="text" class="header-search-input" name="searchQuery" placeholder="Search Movie" />
    <button type="submit" class="search-btn">
      <svg class="icon-search" width="24" height="24">
        <use href="/src/images/header-main/search.svg#icon-search"></use>
      </svg>
    </button>
  </form>
  <a class="filter__link" href="#">Расширенный посик</a>
  <ul class="header-list-buttons"></ul>
</div>