<div class='pagination-block container'>
  <ul class='pagination__list'>
    <!--    <li>-->
    <!--      <a href='#' class='pagination__arrow&#45;&#45;left'>-->
    <!--        <svg class='icon icon-arrow-left' width='16' height='16' viewBox='0 0 16 16' fill='none'-->
    <!--             xmlns='http://www.w3.org/2000/svg'>-->
    <!--          <path d='M12.6666 8H3.33325' stroke-width='1.33333' stroke-linecap='round'-->
    <!--                stroke-linejoin='round' />-->
    <!--          <path d='M7.99992 12.6667L3.33325 8.00004L7.99992 3.33337' stroke-width='1.33333'-->
    <!--                stroke-linecap='round' stroke-linejoin='round' />-->
    <!--        </svg>-->
    <!--      </a>-->
    <!--    </li>-->
    <!--    <li class='active'><a href='#' class='pagination__button__link'>1</a></li>-->
    <!--    <li><span class='pagination__button__dots'>...</span></li>-->
    <!--    <li><a href='#' class='pagination__button__link'>2</a></li>-->
    <!--    <li><span class='pagination__button__dots'>...</span></li>-->
    <!--    <li><a href='#' class='pagination__button__link '>500</a></li>-->
    <!--    <li>-->
    <!--      <a href='#' class='pagination__arrow&#45;&#45;right'>-->
    <!--        <svg class='icon icon-arrow-right' width='16' height='16' viewBox='0 0 16 16' fill='none'-->
    <!--             xmlns='http://www.w3.org/2000/svg'>-->
    <!--          <path d='M3.33341 8H12.6667' stroke-width='1.33333' stroke-linecap='round'-->
    <!--                stroke-linejoin='round' />-->
    <!--          <path d='M8.00008 12.6667L12.6667 8.00004L8.00008 3.33337' stroke-width='1.33333'-->
    <!--                stroke-linecap='round' stroke-linejoin='round' />-->
    <!--        </svg>-->
    <!--      </a>-->
    <!--    </li>-->
  </ul>
</div>