<div class='pagination container'>
  <ul class='pagination__list'>
    <li>
      <a href='#' class='pagination__arrow--left'>
        <svg class='icon icon-arrow-left' width='24' height='24'>
          <use href='/src/images/arrow-left.svg#icon-arrow-left'></use>
        </svg>
      </a>
    </li>
    <li><a href='#' class='pagination__button__link action'>1</a></li>
    <li><span class='pagination__button__dots'>...</span></li>
    <li><a href='#' class='pagination__button__link action'>2</a></li>
    <li><span class='pagination__button__dots'>...</span></li>
    <li><a href='#' class='pagination__button__link action'>500</a></li>
    <li>
      <a href='#' class='pagination__arrow--right'>
        <svg class='icon icon-arrow-right' width='24' height='24'>
          <use href='/src/images/arrow-right.svg#icon-arrow-right'></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
