<div class='filter hide'>
  <!-- sort -->
  <div class='content__container' data-action='sort'>
    <div class='input'>
      <div class='input__placeholder'>
        <p class='placeholder' data-action='sort'>
          Raiting/Popularity
        </p>
        <span class='input__open' data-action='sort'>
                    <svg width='16px' height='7px' data-action='sort'>
                        <use href='./img/svg/icons.svg#icon-triangle' data-action='sort'></use>
                    </svg>
                </span>
      </div>
    </div>
    <div class='filter__structure hide' data-action='sort'>
      <div id='raiting_up' data-value='raiting_up'>
        Raiting &#9650
      </div>
      <div id='raiting_down' data-value='raiting_down'>
        Raiting &#9660
      </div>
      <div id='popularity_up' data-value='popularity_up'>
        Popularity &#9650
      </div>
      <div id='popularity_down' data-value='popularity_down'>
        Popularity &#9660
      </div>
    </div>
  </div>
  <!-- ganre -->
  <div class='content__container' data-action='genre'>
    <div class='input'>
      <div class='input__placeholder'>
        <p class='placeholder' data-action='genre'>
          Genres
        </p>
        <span class='input__open' data-action='genre'>
                    <svg width='16px' height='7px' data-action='genre'>
                        <use href='./img/svg/icons.svg#icon-triangle' data-action='genre'></use>
                    </svg>
                </span>
      </div>
    </div>
    <div class='filter__structure filter__structure--genre hide' data-action='genre'>
    </div>
  </div>
  <!-- years -->
  <div class='content__container' data-action='years'>
    <div class='input'>
      <div class='input__placeholder'>
        <p class='placeholder' data-action='years'>
          Release Years
        </p>
        <span class='input__open' data-action='years'>
                    <svg width='16px' height='7px' data-action='years'>
                        <use href='./img/svg/icons.svg#icon-triangle' data-action='years'></use>
                    </svg>
                </span>
      </div>
    </div>
    <div class='filter__structure filter__structure--years hide' data-action='years'>
      <div id='2022' data-value='2022'>
        2022
      </div>
      <div id='2021' data-value='2021'>
        2021
      </div>
      <div id='2020' data-value='2020'>
        2020
      </div>
      <div id='2019' data-value='2019'>
        2019
      </div>
      <div id='2018' data-value='2018'>
        2018
      </div>
    </div>
  </div>
</div>