<div id='content'>
    <div class="content__container" id="container">
        <div class="input">
            <div class="input__placeholder">
                <p class="placeholder">
                    Open this select menu
                </p>
                <span class="input__open" id="Shape">
                    <svg width="16px" height="7px">
                        <use href="./img/svg/icons.svg#icon-triangle"></use>
                    </svg>
                </span>
            </div>
        </div>
        <div class="structure hide select">
            <div id="raiting_up" data-value="raiting_up">
                Raiting &#9650
            </div>
            <div id="raiting_down" data-value="raiting_down">
                Raiting &#9660
            </div>
            <div id="popularity_up" data-value="popularity_up">
                Popularity &#9650
            </div>
            <div id="popularity_down" data-value="popularity_down">
                Popularity &#9660
            </div>
        </div>
    </div>
</div>