.gallery-container_grid {
    display: grid;
    row-gap: 32px;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 100%;

    @media screen and (min-width: 480px) {
        row-gap: 20px;
    }

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 336px);
        column-gap: 32px;
        row-gap: 32px;
        padding: 60px 0;
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, 309px);
        column-gap: 17px;

    }
}