.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader {
  border-radius: 50px;
  border: 5px solid black;
  border-top-color: #ff6b01;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  animation: spin 2s infinite linear;
}

.done {
  opacity: 0;
  visibility: hidden;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

// .loadep-pc {
//   border: 1px solid tomato;
//   position: absolute;
//   z-index: 102;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 100px;
//   height: 100px;
// }

.qwerty {
  color: #ff6b01;
  font-size: 25px;
  position: absolute;
  z-index: 102;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// // @keyframes reduce_radius {
// //   from {
// //     r: 10;
// //   }
// //   to {
// //     r: 3;
// //   }
// // }
// @keyframes change_fill {
//   0% {
//     fill: #ffff;
//   }
//   // 75% {
//   //   // fill: #c7743c;
//   // }
//   100% {
//     fill: #ff6b08;
//   }
// }
// !

// .loading-wrap {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   left: 0;
//   top: 0;
// }

// .loading-text {
//   display: block;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   color: $accentColor;
//   width: 100px;
//   height: 30px;
//   margin: -7px 0 0 -45px;
//   text-align: center;
//   font-family: $primaryFont;
//   font-size: 20px;
// }

// .loading-content {
//   display: block;
//   position: relative;
//   left: 50%;
//   top: 50%;
//   width: 170px;
//   height: 170px;
//   margin: -85px 0 0 -85px;
//   border: 3px solid #f00;
// }

// .loading-content:after {
//   content: '';
//   position: absolute;
//   border: 3px solid #0f0;
//   left: 15px;
//   right: 15px;
//   top: 15px;
//   bottom: 15px;
// }

// .loading-content:before {
//   content: '';
//   position: absolute;
//   border: 3px solid #00f;
//   left: 5px;
//   right: 5px;
//   top: 5px;
//   bottom: 5px;
// }

// .loading-content {
//   border: 3px solid transparent;
//   border-top-color: #4d658d;
//   border-bottom-color: #4d658d;
//   border-radius: 50%;
//   animation: loader 2s linear infinite;
//   animation: loader 2s linear infinite;
//   animation: loader 2s linear infinite;
//   animation: loader 2s linear infinite;
// }

// .loading-content:before {
//   border: 3px solid transparent;
//   border-top-color: #d4cc6a;
//   border-bottom-color: #d4cc6a;
//   border-radius: 50%;
//   animation: loader 3s linear infinite;
//   animation: loader 2s linear infinite;
//   // animation: loader 2s linear infinite;
//   // animation: loader 3s linear infinite;
// }

// .loading-content:after {
//   border: 3px solid transparent;
//   border-top-color: #84417c;
//   border-bottom-color: #84417c;
//   border-radius: 50%;
//   animation: loader 1.5s linear infinite;
//   // animation: loader 1.5s linear infinite;
//   animation: loader 2s linear infinite;
//   // animation: loader 2s linear infinite;
// }

// @keyframes loaders {
//   0% {
//     -webkit-transform: rotate(0deg);
//     -ms-transform: rotate(0deg);
//     transform: rotate(0deg);
//   }
//   100% {
//     -webkit-transform: rotate(360deg);
//     -ms-transform: rotate(360deg);
//     transform: rotate(360deg);
//   }
// }

// @keyframes loader {
//   0% {
//     -webkit-transform: rotate(0deg);
//     -ms-transform: rotate(0deg);
//     transform: rotate(0deg);
//   }
//   100% {
//     -webkit-transform: rotate(360deg);
//     -ms-transform: rotate(360deg);
//     transform: rotate(360deg);
//   }
// }

// .content-wrapper {
//   color: #fff;
//   position: fixed;
//   left: 0;
//   top: 20px;
//   width: 100%;
//   height: 100%;
// }

// #content {
//   width: 800px;
//   height: 1000px;
//   margin: 0 auto;
//   text-align: center;
//   background-color: #888;
// }
