.overflow {
  overflow: hidden;
}

.backdrop {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 111;
  transform: scale(0);
  transition: transform 250ms linear;
}

.mount {
  transform: scale(1);
}

.modal {
  position: relative;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: $bg-first-color;
  max-width: 814px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1024px) {
    max-width: 704px;
    margin-top: 10%;
    padding-left: 36px;
    padding-right: 36px;
  }
  @media screen and (max-width: 768px) {
    max-width: 280px;
    display: block;
    margin-top: 50%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 48px;
  }

  &__container {
    display: block;
    max-width: 390px;

    @media screen and (max-width: 1024px) {
      max-width: 264px;
    }
    @media screen and (max-width: 768px) {
      max-width: 240px;
    }
  }
  &__container:last-child {
    margin-left: 16px;
    @media screen and (max-width: 1024px) {
      margin-left: 68px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  &__button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0;
    font-size: 30px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: $main-font;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;

    color: $text-black-color;
    @media screen and (max-width: 1024px) {
      font-size: 20px;
    }
  }

  &__list-container {
    display: flex;
    margin-bottom: 20px;
  }

  &__list:not(:last-child) {
    margin-right: 85px;
    @media screen and (max-width: 1024px) {
      margin-right: 41px;
    }
  }

  &__item {
    font-family: $main-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: $characteristicsColor;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }

  &__item-desc {
    display: flex;
    margin-bottom: 8px;

    font-family: $main-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: $text-black-color;
  }
  &__item-desc--color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 16px;
    border-radius: 5px;
    color: $primaryLightColor;
    background-color: $accentColor;
  }
  &__title-description {
    margin-bottom: 8px;
    font-family: $main-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    align-items: center;
    text-transform: uppercase;
  }

  &__description {
    margin: 0;
    margin-bottom: 20px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;

    color: #000000;
  }
  &__button-container {
    display: flex;
  }
  &__button {
    box-sizing: border-box;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    text-align: center;
    text-transform: uppercase;

    width: 136px;
    height: 44px;

    border: 1px solid $primaryDarkColor;
    border-radius: 5px;
    transition: all 250ms linear;

    @media screen and (max-width: 1024px) {
      width: 136px;
    }
    @media screen and (max-width: 768px) {
      width: 110px;
    }
  }
  &__button--active {
    background-color: $accentColor;
    color: $text-white-color;
    box-shadow: 0px 8px 43px rgba(0, 0, 0, 0.1),
      inset 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
  }
  &__button:first-child {
    margin-right: 15px;
    margin-left: 8px;
    @media screen and (max-width: 1024px) {
      margin-left: 0;
    }
    @media screen and (max-width: 768px) {
      margin-right: 20px;
    }
  }
}
