.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 111;
  transform: scale(0);
  transition: transform 250ms linear;
}

.mount {
  transform: scale(1);
}

.modal {
  position: relative;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: aliceblue;
  max-width: calc(100vw - 500px);
  max-height: calc(100vh - 150px);

  &__container {
    padding-left: 16px;
  }

  &__button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0;
    font-size: 30px;
  }

  &__img {
    display: block;
    border-radius: 5px;
    background-color: rgb(72, 98, 201);
    min-width: 375px;
    min-height: 478px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
  }

  &__list-container {
    display: flex;
    margin-bottom: 20px;
  }
  &__list {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  &__list:not(:last-child) {
    margin-right: 85px;
  }

  &__item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #8c8c8c;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }

  &__item-desc {
    display: flex;
    margin-bottom: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #000000;
  }
  &__item-desc--color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 16px;
    color: white;
    background-color: #ff6b01;
  }
  &__title-description {
    margin: 0;
    margin-bottom: 8px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    align-items: center;
    text-transform: uppercase;
  }

  &__description {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;

    color: #000000;
  }
  &__button-container {
    display: flex;
    margin-left: 8px;
  }
}

.button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  text-align: center;
  text-transform: uppercase;

  margin-right: 15px;

  width: 136px;
  height: 44px;

  border: 1px solid #000000;
  border-radius: 5px;
}

.button:first-child {
  background-color: #ff6b01;
  color: white;
}
