.library {
  padding-top: 20px;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 32px;
  }
  &__list {
    @media screen and (max-width: 767.5px) {
      margin-bottom: -20px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -32px;
      margin-bottom: -32px;
    }
    @media screen and (min-width: 1024px) {
      margin-left: -16px;
    }
  }
  // &__card {
  //     border: 2px green;
  //     @media screen and (max-width: 767.5px) {
  //         margin-bottom: 20px;
  //     }
  //     @media screen and (min-width: 768px) {
  //         margin-left: 32px;
  //         margin-bottom: 32px;
  //         flex-basis: calc( (100% - 2 * 32px) / 2);
  //     }
  //     @media screen and (min-width: 1024px) {
  //         flex-basis: calc( (100% - 3 * 16px) / 3);
  //     }
  // }
}
.empty-library {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
  width: 100%;
  height: 120px;
  background-image: url('/src/images/my-library/cinema-room-background.jpg');
  background-size: cover;
  @media screen and (min-width: 460px) {
    height: 180px;
  }
  @media screen and (min-width: 768px) {
    height: 300px;
  }
  @media screen and (min-width: 1024px) {
    height: 400px;
  }
}
.user-message {
  display: block;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: $accent-darker-color;
  text-shadow: 1px 1px rgb(0, 0, 0, 0.2);
}
