.arrUpBtn{
    background-color: rgba(255, 107, 1, 0.6);
    border: none;
    width: 50px;
    height: 50px;
        outline: none;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin: 0;
        position: fixed;
        bottom: 10%;
        right: 3%;
        z-index: 5;
        cursor: pointer;
        transform: scale(1) translateY(0);
        transition: transform 200ms linear, box-shadow 0.25s linear;
    
        &:hover,
        &:focus {
            transform: scale(1.1) translateY(-5px);
            box-shadow: 0px 8px 43px $btn-hover-color,
            inset 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
        }
}
.arr-up-icon{
fill: #ffffff;
}